<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.cmpt276.carbontracker.UI">

    <application
        android:allowBackup="true"
        android:icon="@drawable/launcher_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".WelcomeScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainMenuActivity" android:parentActivityName=".WelcomeScreenActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".WelcomeScreenActivity"/>
        </activity>

        <activity android:name=".SelectTransportationMode"
            android:parentActivityName=".MainMenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainMenuActivity"/>
        </activity>


        <activity android:name=".CarSelectionActivity" android:parentActivityName=".SelectTransportationMode">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SelectTransportationMode"/>
        </activity>

        <activity android:name=".ViewCarbonFootprintActivity" android:parentActivityName=".MainMenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainMenuActivity"/>
        </activity>

        <activity android:name=".SelectRouteActivity" android:parentActivityName=".CarSelectionActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CarSelectionActivity"/>
        </activity>

        <activity android:name=".AddRouteActivity" android:parentActivityName=".SelectRouteActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SelectRouteActivity"/>
        </activity>

        <activity android:name=".EditRouteActivity" android:parentActivityName=".SelectRouteActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SelectRouteActivity"/>
        </activity>

        <activity android:name=".DeleteRouteActivity" android:parentActivityName=".SelectRouteActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SelectRouteActivity"/>
        </activity>

        <activity android:name=".AddCarActivity" android:parentActivityName=".CarSelectionActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CarSelectionActivity"/>
        </activity>

        <activity android:name=".EditDeleteCarActivity" android:parentActivityName=".CarSelectionActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CarSelectionActivity"/>
        </activity>

        <activity android:name=".AddUtilitiesBillActivity" android:parentActivityName=".MainMenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainMenuActivity"/>
        </activity>

        <activity android:name=".EditDeleteUtilitiesActivity" android:parentActivityName=".MainMenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainMenuActivity"/>
        </activity>

        <activity
            android:name=".TipsActivity"
            android:theme="@style/AppTheme.popUpWindowTheme" />

        <activity android:name=".ViewJourneyActivity" android:parentActivityName=".MainMenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainMenuActivity"/>
        </activity>

        <activity android:name=".EditJourneyActivity" android:parentActivityName=".ViewJourneyActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ViewJourneyActivity"/>
        </activity>

        <activity android:name=".OptionsActivity" android:parentActivityName=".MainMenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainMenuActivity"/>
        </activity>
        <service
            android:name=".Notifications"
            android:exported="true">
        </service>
    </application>

</manifest>